# Introduction to Pandas DataFrame

Imagine you're in a classroom. The Pandas DataFrame is like a class register (attendance book). In that register:

- The rows are like students in your class.
- The columns are like the subjects each student has. For example: one column for "Name", another for "Math marks", one for "Science marks", etc.
- The index is like the roll numbers assigned to each student.
So, the Pandas DataFrame is nothing but a table that helps you organize your data in rows and columns, exactly like how you maintain school or college records.

### What is a DataFrame?

A DataFrame is basically a 2D (two-dimensional) data structure in Pandas, meaning it has both rows and columns. It's one of the most important parts of Pandas, which is why we focus on it so much.

- Just like your class register has names and marks of students, a DataFrame holds labeled data.
- You can store different types of data in one DataFrame: numbers, strings (like names), dates, etc.

## Creating a Simple DataFrame:

Now, let's say you want to create a DataFrame for a class with details of 3 students, their marks in Math, and the city they are from. In Pandas, you can do this using Python, and it’s as simple as writing the names and marks in the code.

To create a simple DataFrame in Pandas, you can use various data structures like lists, dictionaries, or even external data sources such as CSV files or databases. Let's start with the basics of DataFrame creation.

## 1. Creating a DataFrame from a Dictionary
we are familiar with storing data in tabular forms like a school attendance register. Consider a dictionary as something like a record where each key is a "column heading" and the values are lists of "entries" in that column.

#### Example: Student details in a classroom

In [187]:
import pandas as pd

# Data as a dictionary
student_data = {
    'Name': ['Aman', 'Priya', 'Raj', 'Sneha'],
    'Age': [16, 17, 16, 18],
    'City': ['Delhi', 'Mumbai', 'Bangalore', 'Chennai']
}

# Convert dictionary to DataFrame
df = pd.DataFrame(student_data)
print(df)

    Name  Age       City
0   Aman   16      Delhi
1  Priya   17     Mumbai
2    Raj   16  Bangalore
3  Sneha   18    Chennai

Name, Age, City are like the headings of our columns, just like a ledger's headings

The values are the actual data, similar to entries in each student's row in your school register.

## 2. Creating a DataFrame from a List of Lists

Think of a list of lists as a table with rows of data. It's like when you jot down data in rows in your notebook for each student.

In [188]:
# List of lists where each list is a row (student's data)
data = [
    ['Aman', 16, 'Delhi'],
    ['Priya', 17, 'Mumbai'],
    ['Raj', 16, 'Bangalore'],
    ['Sneha', 18, 'Chennai']
]

# Create DataFrame and specify column labels
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

    Name  Age       City
0   Aman   16      Delhi
1  Priya   17     Mumbai
2    Raj   16  Bangalore
3  Sneha   18    Chennai

Each inner list represents a row, which is like a complete entry for a student in the class. It’s just like making rows in a notebook for student records.

## 3. Creating a DataFrame from a List of Dictionaries

In [189]:
# List of dictionaries where each dictionary is a row
family_data = [
    {'Name': 'Aman', 'Age': 16, 'City': 'Delhi'},
    {'Name': 'Priya', 'Age': 17, 'City': 'Mumbai'},
    {'Name': 'Raj', 'Age': 16, 'City': 'Bangalore'},
    {'Name': 'Sneha', 'Age': 18, 'City': 'Chennai'}
]

# Convert list of dictionaries to DataFrame
df = pd.DataFrame(family_data)
print(df)

    Name  Age       City
0   Aman   16      Delhi
1  Priya   17     Mumbai
2    Raj   16  Bangalore
3  Sneha   18    Chennai

Each dictionary can be seen as a person’s record, much like writing an entry for each person in a family or an office group.

## 4. Creating a DataFrame from NumPy Arrays
In India, we often deal with numbers, such as exam scores or bank transactions. Using NumPy arrays, we can store numerical data efficiently. Let’s create a DataFrame from NumPy arrays, much like a marksheet of students.

In [190]:
import numpy as np

# Create NumPy arrays for data
names = np.array(['Aman', 'Priya', 'Raj', 'Sneha'])
marks = np.array([85, 90, 78, 88])
cities = np.array(['Delhi', 'Mumbai', 'Bangalore', 'Chennai'])

# Create DataFrame from NumPy arrays
df = pd.DataFrame({
    'Name': names,
    'Marks': marks,
    'City': cities
})
print(df)

    Name  Marks       City
0   Aman     85      Delhi
1  Priya     90     Mumbai
2    Raj     78  Bangalore
3  Sneha     88    Chennai

Here, NumPy arrays are used to hold data, just like a marksheet with names and scores. In this case, each array holds a column of data.

## 5. Creating DataFrame from CSV or Excel files
In real life, we often store data in Excel or CSV files, like monthly electricity bills or bank statements. Pandas makes it very easy to read data from these files.

In [ ]:
# Reading from a CSV file (file needs to be present in your system)
df = pd.read_csv('students_data.csv')
print(df)

Here, Pandas will load the CSV file data into a DataFrame, just like copying the table from Excel into Python.

## 1. Accessing a Single Column (Like looking at a specific category in your notebook)
When you want to check a specific column, such as names, ages, or marks, it’s like checking only one subject or column in your register.

Example: Student Data

In [1]:
import pandas as pd

data = {
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha'],
    'Age': [18, 17, 19, 18],
    'Marks': [85, 92, 75, 88]
}

df = pd.DataFrame(data)

In [2]:
print(df)

     Name  Age  Marks
0   Rahul   18     85
1  Anjali   17     92
2  Sameer   19     75
3    Neha   18     88

Accessing a column by name:

In [3]:
# Access the 'Name' column
print(df['Name'])

0     Rahul
1    Anjali
2    Sameer
3      Neha
Name: Name, dtype: object

Here, you’re just looking at the "Name" column, like how you’d open your school register and look at all students’ names. You’re focusing on that one specific column.

## 2. Accessing Multiple Columns (Like checking multiple subjects at once)
You can access more than one column at the same time, similar to looking at both names and marks in your register.

In [4]:
# Accessing multiple columns ('Name' and 'Marks')
print(df[['Name', 'Marks']])

     Name  Marks
0   Rahul     85
1  Anjali     92
2  Sameer     75
3    Neha     88

Here, you're pulling out both the Name and Marks columns—like checking both subjects in your register at the same time. You’re essentially selecting two columns from the DataFrame.

## 3. Accessing Rows by Index (Looking at a specific student's details)
If you want to see all details of one particular student (like Rahul), you would find his row in the register.

Accessing a row by index:

In [5]:
# Accessing the first row (Rahul's data)
print(df.loc[0])

Name     Rahul
Age         18
Marks       85
Name: 0, dtype: object

This is like saying, "Tell me all about the first student in the register." You’re getting the entire row—Name, Age, and Marks—for that student.

## 4. Accessing Rows by Label with .loc[]
Pandas has this nice .loc[] method, which allows you to access data by its label (row index). Think of it like referring to a page number or entry number in your notebook.

Accessing multiple rows:

In [6]:
# Access the rows of Rahul and Anjali
print(df.loc[[0, 1]])

     Name  Age  Marks
0   Rahul   18     85
1  Anjali   17     92

You’re asking for all the details of Rahul and Anjali, just like reading two lines from your school register that contain all details for those students.

## 5. Accessing a Specific Value (Looking at one piece of information)
Let’s say you want to know Anjali’s Marks. You’ll need to go to Anjali's row and look under the Marks column, just like in your register.

Accessing a specific value:

In [7]:
# Access Anjali's Marks
print(df.loc[1, 'Marks'])

92

You’re looking for the Marks of the student at index 1 (Anjali). Just like finding Anjali in the school record and checking her marks.

## 6. Slicing (Accessing a range of rows and columns)
Sometimes, you might want to look at multiple students and focus on particular subjects, like how you’d look at rows 2 to 4 and only focus on Name and Marks.

Example: Access a slice of the DataFrame

In [8]:
# Get a slice of the DataFrame (2nd to 4th rows, and 'Name' & 'Marks' columns)
print(df.loc[1:3, ['Name', 'Marks']])

     Name  Marks
1  Anjali     92
2  Sameer     75
3    Neha     88

This is like reading Anjali, Sameer, and Neha’s names and marks only, leaving out the other details. You’ve sliced a portion of the DataFrame to focus on specific rows and columns.

## 7. Accessing by Position Using .iloc[] (Like accessing by row number)
Sometimes you don't know the labels, but you know the positions. For instance, you just want to check the 2nd student’s marks without caring about their name. .iloc[] helps you access rows and columns based on their position (just like row numbers in a notebook).

Example: Access row and column by position

In [9]:
# Access the value in the second row and third column (Sameer’s marks)
print(df.iloc[2, 2])

75

You are saying, "Show me the value in the 2nd row (Sameer) and the 3rd column (Marks)." It’s like going to row 3 of your register and looking at a specific column.

## 8. Accessing Multiple Rows and Columns with .iloc[]
You can also use .iloc[] to get multiple rows and columns at the same time, much like checking several lines in your notebook.

Example: Access multiple rows and columns

In [10]:
# Access rows 1 to 3 and columns 1 to 2
print(df.iloc[1:4, 0:2])

     Name  Age
1  Anjali   17
2  Sameer   19
3    Neha   18

You’re asking for the Name and Age of students from the 2nd to 4th rows, just like selecting a portion of your register.

## 9. Conditional Access (Filtering data based on conditions)
If your teacher asks, "Show me students who scored more than 80 marks," you'd manually go through the register and note down the names of students meeting that condition. In Pandas, we can easily filter data based on conditions.

Example: Access students who scored more than 80 marks

In [11]:
# Students with marks more than 80
print(df[df['Marks'] > 80])

     Name  Age  Marks
0   Rahul   18     85
1  Anjali   17     92
3    Neha   18     88

You are filtering out only those students who have scored more than 80 marks, similar to how you’d filter students manually in your notebook based on their marks.

## 10. Accessing with Conditions on Multiple Columns
Let’s say you want to check who is above 18 years and scored more than 80 marks. Just like flipping through pages in your register, you can use multiple conditions to filter data.

Example: Access based on multiple conditions

In [12]:
# Students older than 18 and marks more than 60
result = df[(df['Age'] > 18) & (df['Marks'] > 60)]
print(result)

     Name  Age  Marks
2  Sameer   19     75

Now that you've learned how to access data in a Pandas DataFrame using conditions and filter multiple columns, the next steps can involve more advanced data manipulation and analysis techniques

## 1. Chaining Conditions
Chaining conditions allows you to create more complex queries to filter your DataFrame based on multiple criteria.

Example: Students Older Than 18 with Marks Greater Than 70

In [13]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha'],
    'Age': [18, 17, 19, 18],
    'Marks': [85, 92, 75, 88],
    'City': ['Delhi', 'Mumbai', 'Bangalore', 'Chennai']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Marks       City
0   Rahul   18     85      Delhi
1  Anjali   17     92     Mumbai
2  Sameer   19     75  Bangalore
3    Neha   18     88    Chennai

In [14]:
# Chaining conditions
filtered_students = df[(df['Age'] > 18) & (df['Marks'] > 70)]
print(filtered_students)

     Name  Age  Marks       City
2  Sameer   19     75  Bangalore

## 2. Using isin() for Filtering
The isin() function checks if each element in a DataFrame column is contained in a provided list. This is useful for filtering rows based on multiple possible values.

Example: Filter Students from Specific Cities

In [15]:
# Filtering students from Delhi and Mumbai
filtered_cities = df[df['City'].isin(['Delhi', 'Mumbai'])]
print(filtered_cities)

     Name  Age  Marks    City
0   Rahul   18     85   Delhi
1  Anjali   17     92  Mumbai

## 3. Using query() Method
The query() method allows you to filter a DataFrame using a string expression. It provides a cleaner and more readable syntax, especially for complex conditions.

Example: Query for Students Older Than 18

In [16]:
# Using query to filter
result = df.query('Age > 18 and Marks > 70')
print(result)

     Name  Age  Marks       City
2  Sameer   19     75  Bangalore

## 4. Sorting Data
Sorting helps to arrange your DataFrame based on specific column values. This is useful for identifying top or bottom performers in your dataset.

Example: Sort by Marks in Descending Order

In [17]:
# Sorting by Marks
sorted_df = df.sort_values(by='Marks', ascending=False)
print(sorted_df)

     Name  Age  Marks       City
1  Anjali   17     92     Mumbai
3    Neha   18     88    Chennai
0   Rahul   18     85      Delhi
2  Sameer   19     75  Bangalore

You can also sort by multiple columns:

In [18]:
# Sort by Age, then by Marks
sorted_df_multi = df.sort_values(by=['Age', 'Marks'], ascending=[True, False])
print(sorted_df_multi)

     Name  Age  Marks       City
1  Anjali   17     92     Mumbai
3    Neha   18     88    Chennai
0   Rahul   18     85      Delhi
2  Sameer   19     75  Bangalore

## 5. Group By Operations
The groupby() function is powerful for aggregating data based on one or more columns. You can compute statistics like mean, sum, count, etc.

Example: Group By City and Calculate Average Marks

In [19]:
# Group by City and calculate average Marks
grouped_df = df.groupby('City')['Marks'].mean().reset_index()
print(grouped_df)

        City  Marks
0  Bangalore   75.0
1    Chennai   88.0
2      Delhi   85.0
3     Mumbai   92.0

The reset_index() method is used to convert the resulting series back into a DataFrame.

## 6. Applying Functions with apply()
The apply() function lets you apply a custom function across rows or columns. This is especially useful for data transformations.

Example: Increase Marks by 5

In [20]:
# Define a function to increase marks
def increase_marks(marks):
    return marks + 5

# Apply the function to Marks column
df['Updated Marks'] = df['Marks'].apply(increase_marks)
print(df)

     Name  Age  Marks       City  Updated Marks
0   Rahul   18     85      Delhi             90
1  Anjali   17     92     Mumbai             97
2  Sameer   19     75  Bangalore             80
3    Neha   18     88    Chennai             93

## 7. Handling Missing Data
Missing data can skew your analysis, so handling it properly is crucial.

Example: Dropping Missing Values

In [21]:
# Assuming there are missing values in the DataFrame
df.loc[2, 'Marks'] = None  # Introduce a missing value for demonstration

# Drop rows with any missing values
cleaned_df = df.dropna()
print(cleaned_df)

     Name  Age  Marks     City  Updated Marks
0   Rahul   18   85.0    Delhi             90
1  Anjali   17   92.0   Mumbai             97
3    Neha   18   88.0  Chennai             93

filling missing value

In [22]:
# Calculate the mean and fill missing values without inplace
df['Marks'] = df['Marks'].fillna(df['Marks'].mean())
print(df)

     Name  Age      Marks       City  Updated Marks
0   Rahul   18  85.000000      Delhi             90
1  Anjali   17  92.000000     Mumbai             97
2  Sameer   19  88.333333  Bangalore             80
3    Neha   18  88.000000    Chennai             93

## 8. Merging DataFrames
Merging is similar to SQL joins. It’s useful when you have related datasets that you want to combine.

Example: Merging Two DataFrames

In [23]:
# Create another DataFrame with City info
data2 = {
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha'],
    'City': ['Delhi', 'Mumbai', 'Bangalore', 'Chennai']
}
df2 = pd.DataFrame(data2)

# Merge on Name
merged_df = pd.merge(df, df2, on='Name')
print(merged_df)

     Name  Age      Marks     City_x  Updated Marks     City_y
0   Rahul   18  85.000000      Delhi             90      Delhi
1  Anjali   17  92.000000     Mumbai             97     Mumbai
2  Sameer   19  88.333333  Bangalore             80  Bangalore
3    Neha   18  88.000000    Chennai             93    Chennai

## 1. Concatenating DataFrames
Concatenation is useful when you need to combine two or more DataFrames either vertically (stack rows) or horizontally (merge columns). You can use pd.concat() for this.

Vertical Concatenation (Stacking DataFrames)

In [28]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({
    'Name': ['Rahul', 'Anjali'],
    'Marks': [85, 92]
})

df2 = pd.DataFrame({
    'Name': ['Sameer', 'Neha'],
    'Marks': [75, 88]
})

# Concatenate vertically
df_concat = pd.concat([df1, df2], ignore_index=True)
print(df_concat)

     Name  Marks
0   Rahul     85
1  Anjali     92
2  Sameer     75
3    Neha     88

Horizontal Concatenation (Joining DataFrames by columns)

In [29]:
# Create two DataFrames with the same index but different columns
df3 = pd.DataFrame({
    'Name': ['Rahul', 'Anjali'],
    'Age': [18, 17]
})

df4 = pd.DataFrame({
    'City': ['Delhi', 'Mumbai'],
    'Marks': [85, 92]
})

# Concatenate horizontally
df_concat_horiz = pd.concat([df3, df4], axis=1)
print(df_concat_horiz)

     Name  Age    City  Marks
0   Rahul   18   Delhi     85
1  Anjali   17  Mumbai     92

## 2. GroupBy Operations
groupby() is a powerful function that allows you to group data based on certain criteria, and then apply aggregate functions like mean(), sum(), count(), etc.

In [30]:
# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha', 'Rahul', 'Sameer'],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
    'Marks': [85, 92, 75, 88, 80, 77]
})

# Group by Subject and calculate the mean of Marks
grouped = df.groupby('Subject')['Marks'].mean()
print(grouped)

Subject
Math       84.000000
Science    81.666667
Name: Marks, dtype: float64

You can also group by multiple columns:

In [31]:
# Group by Name and Subject, then calculate the sum of Marks
grouped_multiple = df.groupby(['Name', 'Subject'])['Marks'].sum()
print(grouped_multiple)

Name    Subject
Anjali  Math       92
Neha    Science    88
Rahul   Math       85
        Science    80
Sameer  Math       75
        Science    77
Name: Marks, dtype: int64

## 3. Pivot Tables
Pivot tables allow you to reorganize and summarize data. They work similarly to pivot tables in Excel.

In [32]:
# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha'],
    'Subject': ['Math', 'Math', 'Science', 'Science'],
    'Marks': [85, 92, 75, 88]
})

# Create a pivot table to summarize Marks by Subject and Name
pivot_table = df.pivot_table(index='Name', columns='Subject', values='Marks', aggfunc='mean')
print(pivot_table)

Subject  Math  Science
Name
Anjali   92.0      NaN
Neha      NaN     88.0
Rahul    85.0      NaN
Sameer    NaN     75.0

## 4. Reshaping Data (Melt and Pivot)
Melt: Converts a DataFrame into a long format by unpivoting columns.

In [33]:
# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Rahul', 'Anjali'],
    'Math': [85, 92],
    'Science': [88, 95]
})

# Melt the DataFrame to get a long format
df_melt = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Marks')
print(df_melt)

     Name  Subject  Marks
0   Rahul     Math     85
1  Anjali     Math     92
2   Rahul  Science     88
3  Anjali  Science     95

Pivot: The opposite of melt, used to reshape data back into a wide format.

In [34]:
# Pivot back to wide format
df_pivot = df_melt.pivot(index='Name', columns='Subject', values='Marks')
print(df_pivot)

Subject  Math  Science
Name
Anjali     92       95
Rahul      85       88

## 5. Handling MultiIndex
Pandas supports hierarchical indexing, or MultiIndex. This is useful when working with complex datasets

In [35]:
# Sample DataFrame with MultiIndex
arrays = [
    ['Rahul', 'Rahul', 'Anjali', 'Anjali'],
    ['Math', 'Science', 'Math', 'Science']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Name', 'Subject'))

df_multi = pd.DataFrame({'Marks': [85, 88, 92, 95]}, index=index)

# Access data for Rahul's Math marks
print(df_multi.loc[('Rahul', 'Math')])

# Access all data for Rahul
print(df_multi.loc['Rahul'])

Marks    85
Name: (Rahul, Math), dtype: int64
         Marks
Subject
Math        85
Science     88

## 6. Advanced Filtering with query()
The query() function provides a cleaner and faster way to filter rows based on conditions.

In [36]:
# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha'],
    'Marks': [85, 92, 75, 88],
    'Age': [18, 17, 19, 18]
})

# Filter rows where Marks are greater than 80 and Age is less than 18
df_filtered = df.query('Marks > 80 & Age < 18')
print(df_filtered)

     Name  Marks  Age
1  Anjali     92   17

## 7. Applying Custom Functions to DataFrames
You can apply custom functions to rows or columns using the apply() function.

In [37]:
# Custom function to classify students based on Marks
def classify_marks(marks):
    if marks >= 90:
        return 'Excellent'
    elif marks >= 75:
        return 'Good'
    else:
        return 'Average'

# Apply the function to the Marks column
df['Performance'] = df['Marks'].apply(classify_marks)
print(df)

     Name  Marks  Age Performance
0   Rahul     85   18        Good
1  Anjali     92   17   Excellent
2  Sameer     75   19        Good
3    Neha     88   18        Good

## 8. Dealing with Time-Series Data
Pandas has robust support for time-series data. You can convert date columns to datetime and perform time-based indexing.

In [38]:
# Sample DataFrame with date
df = pd.DataFrame({
    'Date': ['2024-10-17', '2024-10-18', '2024-10-19'],
    'Marks': [85, 90, 88]
})

# Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Set Date as index
df.set_index('Date', inplace=True)

# Filter data for a specific date range
df_filtered = df.loc['2024-10-17':'2024-10-18']
print(df_filtered)

            Marks
Date
2024-10-17     85
2024-10-18     90

### 1. **Concatenating DataFrames** 

Concatenation is like when you're combining two or more tables either row-wise or column-wise. Think of it like stacking notebooks on top of each other or side by side.

#### Vertical Concatenation (Stacking Rows)
Suppose you have marks data from two classes. You want to combine them so that you can see all the students' marks in one DataFrame.

```python
import pandas as pd

# Class 1 data
df1 = pd.DataFrame({
    'Name': ['Rahul', 'Anjali'],
    'Marks': [85, 92]
})

# Class 2 data
df2 = pd.DataFrame({
    'Name': ['Sameer', 'Neha'],
    'Marks': [75, 88]
})

# Concatenating vertically (stacking rows)
df_concat = pd.concat([df1, df2], ignore_index=True)
print(df_concat)
```
This code stacks both classes' data together, as if you’re merging two lists of students into one.

#### Horizontal Concatenation (Adding Columns)
Now, let's say you have separate tables for names and cities, and you want to add the cities next to the names, just like you're adding an extra column in your Excel sheet.

```python
# Names and Age
df3 = pd.DataFrame({
    'Name': ['Rahul', 'Anjali'],
    'Age': [18, 17]
})

# Cities and Marks
df4 = pd.DataFrame({
    'City': ['Delhi', 'Mumbai'],
    'Marks': [85, 92]
})

# Concatenate horizontally (adding columns)
df_concat_horiz = pd.concat([df3, df4], axis=1)
print(df_concat_horiz)
```
Here, we are combining two DataFrames column-wise. It’s like writing each student's name on one side of the sheet and their city on the other side.

### 2. **GroupBy Operations**

Grouping is like organizing data based on a key or category. Suppose you want to group students by their subjects and then calculate the average marks of each group.

```python
# Sample DataFrame with subjects
df = pd.DataFrame({
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha', 'Rahul', 'Sameer'],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
    'Marks': [85, 92, 75, 88, 80, 77]
})

# Group by Subject and calculate the average Marks
grouped = df.groupby('Subject')['Marks'].mean()
print(grouped)
```
Grouping helps in organizing large datasets, just like we separate students into different sections or batches and calculate class averages.

#### Grouping by Multiple Columns:
Sometimes you may want to group students by both **Name** and **Subject**, and see their total marks for each subject.

```python
# Group by both Name and Subject
grouped_multiple = df.groupby(['Name', 'Subject'])['Marks'].sum()
print(grouped_multiple)
```
This method is useful when you have more complex categories to analyze, like in school records when you want to know each student's performance across subjects.

### 3. **Pivot Tables** 

Pivot tables are like the tables we make when we want to summarize data. It helps in seeing the data from a different angle. 

```python
df = pd.DataFrame({
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha'],
    'Subject': ['Math', 'Math', 'Science', 'Science'],
    'Marks': [85, 92, 75, 88]
})

# Create pivot table showing Marks for each Subject and Name
pivot_table = df.pivot_table(index='Name', columns='Subject', values='Marks', aggfunc='mean')
print(pivot_table)
```
In this example, we are summarizing the marks of each student based on their subjects, much like how a school report card summarizes subject-wise marks for each student.

### 4. **Reshaping Data: Melting and Pivoting**

#### **Melt**: 
Melting is when you convert a wide format table into a long format. Suppose you have multiple columns (like "Math Marks" and "Science Marks") and you want them in one single column as "Subject" and another for "Marks".

```python
df = pd.DataFrame({
    'Name': ['Rahul', 'Anjali'],
    'Math': [85, 92],
    'Science': [88, 95]
})

# Melt to long format
df_melt = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Marks')
print(df_melt)
```
This is like converting multiple rows into one compact format, where each row now represents one subject and its corresponding marks.

#### **Pivot**: 
Pivoting is the reverse of melting. You take a long-form DataFrame and turn it back into a wide form.

```python
# Pivot back to wide format
df_pivot = df_melt.pivot(index='Name', columns='Subject', values='Marks')
print(df_pivot)
```
This is like rearranging data back into its original format. Pivoting is often used when you want to see the broader view of your data, like putting marks back into subject-wise columns.

### 5. **MultiIndex (Hierarchical Indexing)**

MultiIndexing is like when you have two levels of indexing. It helps in managing complex data with two (or more) levels of categorization.

```python
arrays = [
    ['Rahul', 'Rahul', 'Anjali', 'Anjali'],
    ['Math', 'Science', 'Math', 'Science']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Name', 'Subject'))

df_multi = pd.DataFrame({'Marks': [85, 88, 92, 95]}, index=index)

# Accessing specific data
print(df_multi.loc[('Rahul', 'Math')])

# Accessing all data for 'Rahul'
print(df_multi.loc['Rahul'])
```
In this example, we are using two levels for our data: the student's name and the subject they studied. This allows us to easily access specific rows based on multiple conditions.

### 6. **Advanced Filtering with `query()`**

Instead of using complex conditions with brackets (`&`, `|`), Pandas provides a cleaner way to filter data with `query()`.

```python
df = pd.DataFrame({
    'Name': ['Rahul', 'Anjali', 'Sameer', 'Neha'],
    'Marks': [85, 92, 75, 88],
    'Age': [18, 17, 19, 18]
})

# Filter students with Marks greater than 80 and Age less than 18
df_filtered = df.query('Marks > 80 & Age < 18')
print(df_filtered)
```
This method allows you to filter data in a very human-readable form, just like asking a question or giving instructions like "Give me students who scored more than 80 and are younger than 18".

### 7. **Custom Functions with `apply()`**

Sometimes, basic functions aren't enough, and you need to apply custom logic. For example, classifying students based on their marks.

```python
def classify_marks(marks):
    if marks >= 90:
        return 'Excellent'
    elif marks >= 75:
        return 'Good'
    else:
        return 'Average'

# Apply custom function
df['Performance'] = df['Marks'].apply(classify_marks)
print(df)
```
Here, we are assigning students a performance label based on their marks. `apply()` allows you to add your own logic, just like applying your own judgment criteria.